<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}

<style>
.cssFont_1 {
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  letter-spacing: 0px;
  word-spacing: 0px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  }
</style>

<h1>Привет, я автор</h1>
<p>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">
    <h3> И я....</h3> 
  </a> 
    <br>^<br> 
</p> ну тыкни уже по ссылке
</p>
<div class="cssFont_1">
  А еще я наслаждаюсь тем, что сделал подписки на авторов</p>
  Поэтому ты можешь насладиться песенкой в тему и какими-то типо популярными песнями </div>	&#128512

<iframe frameborder="0" style="border:none;width:100%;height:180px;" width="100%" height="180" src="https://music.yandex.ru/iframe/#track/79177545/21002416">Слушайте <a href='https://music.yandex.ru/album/21002416/track/79177545'>Follow You</a> — <a href='https://music.yandex.ru/artist/675068'>Imagine Dragons</a> на Яндекс Музыке</iframe>
</p>
</p>
<iframe frameborder="0" style="border:none;width:100%;height:450px;" width="100%" height="450" src="https://music.yandex.ru/iframe/#playlist/music-blog/1101">Слушайте <a href='https://music.yandex.ru/users/music-blog/playlists/1101'>100 суперхитов</a> — <a href='https://music.yandex.ru/users/music-blog'>Яндекс Музыка</a> на Яндекс Музыке</iframe>

{% endblock %} 